@charset "utf-8";

label {
    display: block;
}

.button-group {
    display: flex;
}
.button-group button {
    margin-right: 0px;
    padding-right: 0px;
}

.article ul {
    list-style-type: none;
    padding-left: 0;
}

.error {
    color: red;
}